<?xml version="1.0" ?>
<settings>

	<servers>
		<server>
			<id>setup_snapshots</id>
			<username>deployment</username>
			<password>deployment123</password>
		</server>
	</servers>
	<mirrors>


		<mirror>
			<id>setup_snapshots</id>
			<mirrorOf>nexus</mirrorOf>
			<url>http://nexus.primeur.com/content/repositories/setup_snapshots
			</url>
		</mirror>


		<mirror>
			<id>setup</id>
			<mirrorOf>setup_snapshots</mirrorOf>
			<url>http://nexus.primeur.com/content/repositories/setup</url>
		</mirror>



		<mirror>
			<!-- This sends everything else to nexus /public group -->
			<id>nexus</id>
			<mirrorOf>*</mirrorOf>
			<url>http://nexus.primeur.com/content/groups/public</url>
		</mirror>
	</mirrors>

	<profiles>
		<profile>
			<id>nexus</id>
			<!--Enable snapshots for the built in central repo to direct -->
			<!--all requests to nexus via the mirror -->
			<repositories>
				<repository>
					<id>central</id>
					<url>http://central</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>central</id>
					<url>http://central</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>development</id>
			<properties>
				<build_number>998</build_number>
				<install4j.home>C:\Program Files\install4j6</install4j.home>
				<install4j.licenseKey>L-M6-PRIMEUR_LTD#50032812010001-ydka67ek8q7g#5422
				</install4j.licenseKey>
			</properties>
		</profile>

		<profile>
			<id>production</id>
			<properties>
				<install4j.home>/opt/install4j6.0.4</install4j.home>
				<install4j.licenseKey>L-M6-PRIMEUR_LTD#50032812010001-ydka67ek8q7g#5422
				</install4j.licenseKey>
			</properties>
		</profile>


	</profiles>

	<activeProfiles>
		<!--make the profile active all the time -->
		<activeProfile>development</activeProfile>
		<activeProfile>nexus</activeProfile>
	</activeProfiles>
</settings>
